<!DOCTYPE html>
<html lang="pl" ng-app="FormExample">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="description" content="CRM w angular">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>CRM angular</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <div class="container main-wrapper" ng-controller="FormController">
      <div class="row">
        <div class="alert alert-success">
          <strong>Sukces!</strong>Twoje dane zostały zapisane
        </div>
        <div class="well">
          <strong>Login: </strong> {{member.login }}<br>
          <strong>E-mail: </strong> {{member.email }}<br>
          <strong>Specjalizacja: </strong>{{member.specialization.name}}<br>
          <strong>Technologie: </strong><span ng-repeat="tech in member.technologies">{{tech.name}},</span><br>
          <strong>Typ konta: </strong> {{member.account}}<br>
        </div>
        <form class="form-horizontal novalidate">
          <div class="form-group">
            <label for="ulogin" class="col-md-2 control-label">Login</label>
            <div class="col-md-6">
              <input
                      type="text"
                      class="form-control"
                      id="uLogin"
                      ng-model="member.login"
                      ng-focus="LoginPrompt=true"
                      ng-blur="LoginPrompt=false"
              >
            </div>
            <div ng-show="LoginPrompt" class="col-md-4" style="font-size: 1rem; padding:8px 0; color:darkred;">
              Na podstawi Twojego loginu utworzymy email.
            </div>
          </div>

          <div class="form-group">
            <label for="uEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-6">
              <input
                      type="email"
                      class="form-control"
                      id="uEmail"
                      ng-model="member.email"
                      ng-disabled="useEmail"
                      ng-readonly="useEmail"
              >
              <!--if chekbox is checked then useEmail is true -->
            </div>

            <div class="col-md-8 col-md-offset-2">
              <div class="checkbox">
                <label>
                  <input
                          type="checkbox"
                          ng-model="useEmail"
                          ng-change="member.email = member.login+'@anyapps.pl'"
                          ng-disabled="!member.login"
                  >

                  Użyj emaila w domenie anyapps.pl
                  <span ng-show="member.login">({{member.login}}@anyapps.pl)</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="uSpec" class="col-md-2 control-label">Specjalizacja</label>
            <div class="col-md-8">
              <select
                      id="uSpec"
                      class="form-control"
                      ng-model="member.specialization"
                      ng-options="spec.name group by spec.type for spec in specializations"
              >
                <option value="">-- wybierz secjalizacje --</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="uSpec" class="col-md-2 control-label">Ulubione technologie</label>
            <div class="col-sm-8">
              <div class="checkbox" ng-repeat="tech in technologies">
                <label>
                  <input
                          type="checkbox"
                          ng-model="tech.selected"
                          value="{{tech.name}}"
                          ng-change="populateTechs()"
                  >
                  {{tech.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="uSpec" class="col-md-2 control-label">Typ konta</label>
             <div class="col-md-8">
               <div class="radio" ng-repeat="type in accountTypes">
                 <label>
                   <input type="radio" ng-model="member.account" ng-value="type">
                   {{type}}
                 </label>
               </div>
             </div>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-success">Zapisz dane</button>
          </div>
        </form>
      </div>
    </div>




    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="js/angular.min.js" ></script>
    <script type="text/javascript" src="js/main.js" ></script>
    <script>


    var app = angular.module('FormExample',[]);
    app.controller('FormController',['$scope','filterFilter',function ($scope,filterFilter) {
      $scope.member = {};
      $scope.LoginPrompt = false;
      $scope.useEmail = {};

        $scope.specializations = [
            { name: 'ASP.NET', type: 'Programowanie' },
            { name: 'PHP', type: 'Programowanie' },
            { name: 'HTML/CSS', type: 'Programowanie' },
            { name: 'Photoshop', type: 'Grafika' },
            { name: 'Illustrator', type: 'Grafika' },
            { name: 'Premiere', type: 'Video' },
            { name: 'Photoshop', type: 'Video' },
        ];

        $scope.technologies = [
            { name: 'Photoshop', selected: false },
            { name: 'Illustrator', selected: false },
            { name: 'PHP', selected: false },
            { name: 'ASP.NET', selected: false },
            { name: 'JavaScript', selected: false },
            { name: 'HTML/CSS', selected: false },
            { name: 'MySQL', selected: false },
            { name: 'JAVA', selected: false }
        ];

        $scope.accountTypes = [
            'Standard',
            'Optimum',
            'Premium',
            'Premium+'
        ];
        
        $scope.populateTechs = function () {
            $scope.member.technologies = filterFilter($scope.technologies, {selected:true})
        }

    }]);







    </script>
  </body>
</html>
